/*
 * Description: LoveBeauty theme styles
 */
/* Table of Contents
==================================================

	#GENERAL
	#HEADER
	#MAIN
	#CAROUSEL SECTION
	#PARALLAX SECTION
	#TEAM SECTION
	#SIGNUP SECTION
	#CONTACT SECTION
	#BLOG SECTION
	#FOOTER
	#MEDIA QUERIES

==================================================*/
/* ==================== Fonts ================== */

@font-face {
	font-family: "Roboto-Thin";
	src: local(Roboto Thin), url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Roboto-Light";
	src: local(Roboto Light), url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Roboto-Regular";
	src: local(Roboto Regular), url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto-Medium";
	src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
}
/* ==================== GENERAL ================== */

body {
	/*height: 100%;*/
	
	color: #3d505f;
}
/* ====================== HEADER ========================= */

header {
	background-color: rgba(0, 0, 0, 0.5);
	height: 55px;
	padding: 0px 0 0px 0;
	position: fixed;
	z-index: 200;
	width: 100%;
}
header p#logo {
	margin: 0;
	padding: 15px 0;
	text-indent: 40px;
	font-family: "Roboto-Medium", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 22px;
	background: url(../images/logo.png) no-repeat 0 0;
	background-position: left center;
}
nav ul.nav {
	text-align: right;
	padding-top: 5px;
	font-family: "Roboto-Thin";
	font-size: 16px;
}
nav ul.nav li {
	display: inline;
	margin: 0 5px;
}
nav ul.nav li:last-child {
	margin-right: 0;
}
nav ul.nav li.active a {
	color: #f1784d;
	background: rgba(0, 0, 0, 0);
	text-decoration: none;
}
nav ul.nav li a {
	color: #ffffff;
}
nav ul.nav li a:hover {
	color: #ff0000;
	background: rgba(0, 0, 0, 0);
	text-decoration: none;
}
nav ul.nav li a:active a:visited {
	color: #f1784d;
	background: rgba(0, 0, 0, 0);
	text-decoration: none;
}
/* ====================== MAIN ========================= */

#main {
	background: url(../images/first_bg.png);
	/*background-size: contain;*/
	/* width and height, can be %, px or whatever. */
	width: 100%;
	height: auto;
	/*-webkit-background-size: contain;
	-moz-background-size: contain;
	background-position: center;*/
	/* Internet Explorer 7/8 */
	
	/*background-attachment: fixed;*/
}
/* For width 400px and larger: */

@media only screen and (min-width: 600px) {
	#main {
		background: url(../images/first_bg.png) 0 0;
		background-size: 100% cover;
		/* width and height, can be %, px or whatever. */
		
		height: 800px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-position: center;
		/* Internet Explorer 7/8 */
		
		background-attachment: fixed;
	}
}


#main .cont-wrapper {
	position: relative;
	width: 100%;
	top: 350px;
}
#main p {
	text-align: center;
}
#main p.intro {
	font-family: "Roboto-Bold";
	font-size: 50px;
	line-height: 57px;
	letter-spacing: -1px;
	font-weight: 400;
	/*padding: 10px 0 10px 0px;*/
	/*    color: #CC00FF;*/
	
	color: #FFFFFF;
	margin-bottom: 10px;
	position: relative;
	text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
#main p.intro_detail {
	font-family: "Roboto-Regular";
	font-size: 18px;
	/*line-height: 30px;
	letter-spacing: -1px;
	font-weight: 300;*/
	
	padding: 10px 0 40px 0px;
	/*    color: #CC00FF;*/
	
	color: #FFFFFF;
	margin-bottom: 10px;
	position: relative;
	/*text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);*/
}
.iphone_dowload_button {
	color: #fff;
	background-color: #CA09F2;
	font-family: "Roboto-Light";
	font-size: 20px;
	padding: 10px 25px;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}
.iphone_dowload_button:hover {
	text-decoration: none;
	color: #fff;
	/*background: #3d505f;*/
	
	background: #f1784d;
}
/* ================================ highlights SECTION =================================== */

#highlights {
	padding-top: 0px;
	padding-bottom: 0;
	height: 100%;
	margin-bottom: 0;
}
#highlights .ipad {
	top: 0px;
	position: relative;
	text-align: right;
	overflow: hidden;
}
#highlights .ipad img {
	position: relative;
	opacity: 0;
	float: right;
	right: -500px;
	height: 590px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#highlights .ipad.anim img {
	opacity: 1;
	-webkit-transform: translateX(-480px);
	-moz-transform: translateX(-480px);
	-o-transform: translateX(-480px);
	transform: translateX(-480px);
}
#highlights .text {
	position: relative;
	opacity: 0;
	top: 200px;
	left: -50px;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
#highlights .text.anim {
	opacity: 1;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-o-transform: translateX(50px);
	transform: translateX(50px);
}
#highlights .text h2 {
	font-family: "Roboto-Medium";
	font-size: 30px;
	font-style: italic;
	color: #2f2e2e;
	text-align: right;
}
.hightlight-detail {
	/*width: 440px;*/
	
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: #2f2e2e;
	float: right;
}
#highlights .ipad-left {
	position: relative;
	text-align: left;
	overflow: hidden;
	top: -200px;
}
#highlights .ipad-left img {
	position: relative;
	opacity: 0;
	float: left;
	left: -500px;
	height: 590px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#highlights .ipad-left.anim img {
	opacity: 1;
	-webkit-transform: translateX(500px);
	-moz-transform: translateX(500px);
	-o-transform: translateX(500px);
	transform: translateX(500px);
}
#highlights .text-right {
	position: relative;
	opacity: 0;
	right: -500px;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
#highlights .text-right.anim {
	opacity: 1;
	-webkit-transform: translateX(-500px);
	-moz-transform: translateX(-500px);
	-o-transform: translateX(-500px);
	transform: translateX(-500px);
}
#highlights .text-right h2 {
	font-family: "Roboto-Medium";
	font-size: 30px;
	font-style: italic;
	color: #2f2e2e;
	text-align: left;
}
.hightlight-detail-right {
	/*width: 440px;*/
	
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: #2f2e2e;
	text-align: left;
}
#highlights .text-moveup {
	top: -180px;
}
#highlights .ipad-moveup {
	top: -400px;
	margin-bottom: -400px;
}
/* ======= Seller SECTION =========== */

#seller {
	background: url(../images/seller_bg.png) 0 0 no-repeat fixed;
	min-height: 420px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	/* Internet Explorer 7/8 */
	
	background-attachment: fixed;
	padding-bottom: 20px;
}
#seller h2 {
	color: #fff;
	margin-top: 130px;
	font-size: 36px;
	font-family: "Roboto-Bold";
	text-align: center;
	font-weight: 700;
	text-shadow: 0px 1px 1px black;
}
#seller .seller-detail {
	color: #fff;
	font-size: 20px;
	font-family: "Roboto-Regular";
	text-align: center;
}
/* ================= PARTNERS SECTION ======================== */

#partners {
	background: #f8f8f8;
	padding: 40px 0 60px 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
#contact p {
	margin: 10px 0;
}
#contact .btn {
	width: 100%;
}
#partners h2 {
	color: #000;
	margin-top: 30px;
	font-size: 36px;
	font-family: "Roboto-Bold";
	text-align: center;
	font-weight: 700;
}
#partners img {
	height: 100px;
	width: 100%;
}
/* ================= CONTACT SECTION ======================== */

#contact {
	background: url(../images/contact_darker_bg.png) 0 0 no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	/* Internet Explorer 7/8 */
	
	background-attachment: fixed;
	padding: 40px 0 60px 0;
	text-align: center;
	min-height: 570px;
	border-bottom: 1px solid #ccc;
}
#contact h2 {
	color: #fff;
	margin-top: 80px;
	font-size: 24px;
	font-family: "Roboto-Bold";
	text-align: center;
	font-weight: 700;
	text-shadow: 0px 1px 1px black;
}
#contact p {
	color: #fff;
	font-size: 18px;
	font-family: "Roboto-Regular";
	text-align: center;
	margin: 10px 0;
}
#contact input {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Roboto-Regular";
}
#contact textarea {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 0;
	outline: 0;
	border-bottom: 2px solid #FFFFFF;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Roboto-Regular";
}
#contact .btn {
	width: 100px;
	height: 44px;
	border: 2px solid #FFFFFF;
	float: right;
	background-color: rgba(0, 0, 0, 0) !important;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "Roboto-Regular";
}
/* ============================= FOOTER =============================== */

footer {
	background-color: #222327;
	padding: 10px 0;
	text-align: center;
}
footer p {
	margin: 10px 0 0 0;
	color: #fff;
}
footer .sn-links {
	margin: 0;
	text-align: right;
}
footer .sn-links a {
	color: #fff;
}
/* ==================================== MEDIA QUERIES ==================================== */
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 480px) {
	header {
		min-height: 50px;
	}
	header h1#logo {
		position: relative;
		top: -6px;
	}
	header a.mini-nav {
		position: relative;
		top: -8px;
		/* 	line-height: 0; */
	}
	#main {
		min-height: 500px !important;
	}
	#main .cont-wrapper {
		top: 100px;
	}
	#main p.intro {
		text-align: center;
		font-size: 32px;
		line-height: 38px;
	}
	.btn-db {
		margin-top: 10px;
	}
	footer p,
	footer .sn-links {
		text-align: center;
	}
}
@media (max-width: 991px) {
	header a.mini-nav {
		font-size: 28px;
		color: #fff;
		border: 1px solid rgba(255, 255, 255, 0.3);
		padding: 0 8px;
		border-radius: 5px;
	}
	header nav ul {
		padding: 0;
		margin-top: 40px;
		display: none;
	}
	header nav ul.nav li {
		display: block;
		text-align: center;
		margin: 0;
		padding: 10px 0;
		width: 100%;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
	header nav ul.nav li:hover {
		background: rgba(0, 0, 0, 0.2);
	}
	header nav ul.nav li a {
		display: block;
		width: 100%;
	}
	h1 {
		font-size: 34px;
		line-height: 38px;
	}
	h2 {
		font-size: 28px;
		line-height: 32px;
	}
	h3 {
		font-size: 22px;
		line-height: 26px;
	}
	#main {
		background-attachment: scroll;
		background-position-x: -100px;
		min-height: 600px;
	}
	#main .cont-wrapper {
		top: 110px;
	}
	#main p.intro {
		text-align: center;
	}
	#home {
		padding-top: 30px;
	}
	#home .ipad {
		top: 140px;
	}
}
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
	#home .text {
		top: 0;
	}
}